@import '~/assets/css/utilities/_variables.scss';

body {
  min-height: 100vh;
  background-color: $base-bg;
  color: $text-primary;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
