# FRONTEND_URL & PORT
FRONTEND_URL=http://localhost:5173
PORT=5173

# API key from the movie db
API_KEY=<api-key>

# API lang
API_LANG=en-US

# API country
API_COUNTRY=GB

# YouTube API key
API_YOUTUBE_KEY=<api-key>

# Google Analytics
GA=UA-000000000-0
