@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .is-nav-active {
    @apply !text-white !bg-white/10 !font-semibold;
  }

  .is-dock-active {
    @apply !text-primary-amber;
  }

  .is-dock-active .dock-icon {
    @apply -translate-y-0.5;
  }
}

body.modal-open {
  overflow: hidden;
}

.modal-enter,
.modal-leave-active {
  opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.25s ease;
}
